[Desktop Entry]
Version=1.0
Name=Conky
GenericName=Lightweight System Monitor
Comment=Conky System Monitor
Exec=conky -d -c ~/.conky/conkyrc-dials.conf &
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true

